@font-face {
	font-family: "Gilroy";
	src: url("../fonts/gilroylight.woff") format("woff");
	font-weight: lighter;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy";
	src: url("../fonts/gilroylight.woff2") format("woff2");
	font-weight: lighter;
	font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}


@font-face {
	font-family: "OpenSans";
	src: url("../fonts/opensanslight.woff") format("woff");
	font-weight: lighter;
	font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensanslight.woff2") format("woff2");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
	font-family: "OpenSans";
	src: url("../fonts/opensans.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: "Gilroy", "Arial", sans-serif;
}


.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


/* index.html */
/* классы header начало */
.header-index {
  background-color: #f0c52e;
}

.popup {
	display: none;
}


.form-search {
  font-family:"OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.15px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
}

.form-search:hover, 
.form-search:focus {
   color: rgba(0, 0, 0, 0.6);
}

.form-search:active {
  color: #000000;
}


/* пока это класс без свойств 
.user-nav {

}
*/

.logo-header {

}

.logo-header:hover {
  opacity: 0.6;
}

.logo-header:active {
  opacity: 0.3;
}

.user-link {

}

.user-list {
  list-style: none;
}

.user-list a {
  font-family:"OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.15px;
  text-align: left;
  color: #000000;
  text-decoration: none;
}

.user-list a:hover {
  opacity: 0.6;
}

.user-list a:active {
  opacity: 0.3;
}

.purchase-list {
  list-style: none;
}

.purchase-list a {
  font-family:"OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.15px;
  text-align: left;
  color: #000000;
  text-decoration: none;
}

.purchase-list a:hover {
  opacity: 0.6;
}

.purchase-list a:active {
  opacity: 0.3;
}

/* пока это класс без свойств 
.header-navigation {
  
}
*/
.nav-list {
  list-style: none;
}

.nav-list a{
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-list a:hover {
  opacity: 0.6
}

.nav-list a:active {
  opacity: 0.3
}

.items-list {
  list-style: none;
}

.items-list a {
  font-family:"OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: 0.15px;
  text-align: left;
  color: #000000;
  text-transform: none;
  text-decoration: none;
}

.items-list a:hover {
  opacity: 0.6;
}

.items-list a:active {
  opacity: 0.3;
}

.header-navigation {

}
/* классы в header закончились */
/* классы в main, начало*/

/* пока этот класс без свойств 
.main-section {

}
*/ 

.main-head2 {
  font-family:"Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.02;
  letter-spacing: 0.47px;
  text-align: left;
  color: #000000;

}
.main-paragraph {
  
  font-family:"OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #464646;
}

.main-links {
  list-style: none;
}

.main-links a{
  font-family:"Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 2.5;
  color: #000000;
  text-decoration: none;
}

.main-details {

  font-family:"Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.contacts {
  font-family:"Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.02;
  letter-spacing: 0.47px;
  text-align: left;
  color: #000000;

}

/* пока это класс без свойств
.contacts-section {

}
*/

.contacts-head {
  font-family:"Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.02;
  letter-spacing: 0.47px;
  text-align: left;
  color: #000000;
}

.contacts-text {
  font-family:"OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #464646;
}

/* пока это класс без свойств
.main-map {

}

.map-link {

}
*/

.contact-us {
  font-family:"Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

/* классы в main закончились */
/* классы в footer начало */

.footer-ul {
  list-style: none;
}

.footer-ul a {
  font-family:"OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: 0.15px;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.footer-ul a:hover {
  opacity: 0.6;
}

.footer-ul a:active {
  opacity: 0.3;
}


.footer-pl {
  list-style: none;
}

.footer-pl a {
  font-family:"OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: 0.15px;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.footer-pl a:hover {
  opacity: 0.6;
}

.footer-pl a:active {
  opacity: 0.3;
}

.footer-nl {
  list-style: none;
}

.footer-nl a{
  font-family:"Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-nl a:hover {
  opacity: 0.6
}

.footer-nl a:active {
  opacity: 0.3
}

.adress {
  font-family:"OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.contact-number {
  font-family:"OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}


.social-sites {
  text-decoration: none;
  list-style: none;
}
/*
.html-ac {

}

.footer {

}
*/
.logo-footer {

}

.logo-footer:hover {
  opacity: 0.6;
}

.logo-footer:active {
  opacity: 0.3;
}

.footer-index {
  background-color: #464646;
}



/* catalog.html */
.header-catalog {
  background-color: #f0c52e;
}

.catalog-head {
  font-family:"Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.02;
  letter-spacing: 0.47px;
  text-align: left;
  color: #000000;
}

/*пока пустой класс
.div-list {

}
 */
.list-nav {
  list-style: none;
}

.list-nav a{
  font-family:"OpenSans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: 0.14px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

/*пока пустой класс
.filter {

}
 */

.color-form {
  font-family:"Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.18px;
  text-align: left;
  color: #000000;
}

.color-list {
  list-style: none;
}

.color-list label{
  font-family:"OpenSans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.86;
  letter-spacing: 0.14px;
  text-align: left;
  color: #000000;
  text-decoration: none;
}

.checkbox-type {
  width: 27px;
  height: 23px;
  object-fit: contain;
}

.checkbox-type:hover {
  opacity: 0.6;
}

.checkbox-type:action {
  width: 1440px;
  height: 6228px;
  object-fit: contain;
}


.Bluetooth-form {
  font-family:"Gilroy", A"Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.18px;
  text-align: left;
  color: #000000;
}

.Bluetooth-list {
  list-style: none;
}

.Bluetooth-list label{
  font-family:"OpenSans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.86;
  letter-spacing: 0.14px;
  text-align: left;
  color: #000000;
  text-decoration: none;
}

.radio-type {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.radio-type:hover {
  object-fit: contain;
  opacity: 0.6;
}

.radio-type:action {
  width: 1440px;
  height: 6228px;
  object-fit: contain;
}

.submit-button {
  font-family:"Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3.6px;
  text-align: center;
  color: #000000;

}

/*пока пустой класс
.items-head {

}
 */

.sort-head {
  font-family:"Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 3.2px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}

.sort-func {
  list-style: none;
}

.sort-func a {
  font-family:"OpenSans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.sort-func a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort-func a:action {
  font-family:"OpenSans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.items-description {
  list-style: none;
}

.items-description a {
  font-family:"Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.18px;
  text-align: left;
  color: #000000;
  text-decoration: none;
}

.price-items{
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.16px;
  text-align: right;
  color: #464646;
}