@font-face {
	font-family: "Gilroy";
	src: url("../fonts/gilroylight.woff") format("woff");
	font-weight: lighter;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy";
	src: url("../fonts/gilroylight.woff2") format("woff2");
	font-weight: lighter;
	font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}


@font-face {
	font-family: "OpenSans";
	src: url("../fonts/opensanslight.woff") format("woff");
	font-weight: lighter;
	font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensanslight.woff2") format("woff2");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
	font-family: "OpenSans";
	src: url("../fonts/opensans.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: "Gilroy", "Arial", sans-serif;
  margin: 0;
}

.container {
  box-sizing: border-box;
  width: 1160px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


/* index.html */
/* классы header начало */
.header-index {
  margin-top: 40px;
  padding-bottom: 166px;
  padding-left: 60px;
  padding-right: 60px;
  /*margin-bottom: ;*/
  background-color: rgba(240, 197, 46, 0.5);
  /*outline: 2px solid fuchsia;*/
}

.popup {
	display: none;
}


.form-search {
  font-family:"OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.15px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
}

.form-search:hover, 
.form-search:focus {
color: rgba(0, 0, 0, 0.6);
}

.form-search:active {
  color: #000000;
}

.user-nav-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
  outline: 2px solid blue;
}



.user-nav {
  padding-top: 1px;
  /*outline: 2px solid fuchsia;*/
}


.logo-header {
  display: block;
  width: 163px;
  margin-top: -20px;
  /*outline: 2px solid red;*/
}

.logo-header:hover {
  opacity: 0.6;
}

.logo-header:active {
  opacity: 0.3;
}

.user-list-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 

}

.user-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  /*outline: 2px solid black;*/
}

.user-list li {
  padding-right: 173px;
  padding-left: 30px;
  
}

.user-list a {
  font-family:"OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: 0.15px;
  text-align: left;
  color: black;
  text-decoration: none;
}

.user-list a:hover {
  opacity: 0.6;
}

.user-list a:active {
  opacity: 0.3;
}

.purchase-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  /*outline: 2px solid orange;*/
}

.purchase-list li {
  margin: 0;
  padding: 0;
  
  padding-right: 40px;
  outline: 1px dotted yellow;
}

.purchase-list a {
  font-family:"OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: 0.15px;
  text-align: left;
  color: black;
  text-decoration: none;
}

.purchase-list a:hover {
  opacity: 0.6;
}

.purchase-list a:active {
  opacity: 0.3;
}

/* пока это класс без свойств 
.header-navigation {
  */



.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  list-style: none;
  /*outline: 2px solid green;*/
}

.nav-list li:nth-of-type(1) {
  margin-right: 320px;
}
.nav-list li:nth-of-type(2) {
  margin-right: 38px;
}
.nav-list li:nth-of-type(3) {
  margin-right: 98px;
}


.nav-list a{
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-list a:hover {
  opacity: 0.6
}

.nav-list a:active {
  opacity: 0.3
}

.items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}

.items-list a {
  font-family:"OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: 0.15px;
  text-align: left;
  color: #000000;
  text-transform: none;
  text-decoration: none;
}

.items-list a:hover {
  opacity: 0.6;
}

.items-list a:active {
  opacity: 0.3;
}

.header-navigation {


}
/* классы в header закончились */
/* классы в main, начало*/

.container-main {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  /*outline: 2px solid green;*/
}


.main-section {
  /*outline: 2px solid lightblue;*/
}


.main-head2 {
  font-family:"Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.02;
  letter-spacing: 0.47px;
  text-align: left;
  color: #000000;

}
.main-paragraph {
  
  font-family:"OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #464646;
}

.main-links {
  list-style: none;
}

.main-links a{
  font-family:"Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 2.5;
  color: #000000;
  text-decoration: none;
}

.main-details {

  font-family:"Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.contacts {
  font-family:"Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.02;
  letter-spacing: 0.47px;
  text-align: left;
  color: #000000;

}


.contacts-section {
  /*outline: 2px solid red;*/
}


.contacts-head {
  font-family:"Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.02;
  letter-spacing: 0.47px;
  text-align: left;
  color: #000000;
}

.contacts-text {
  font-family:"OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #464646;
}

/* пока это класс без свойств
.main-map {

}

.map-link {

}
*/

.contact-us {
  font-family:"Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

/* классы в main закончились */
/* классы в footer начало */

.user-nav-footer {
  display: flex; 
  justify-content: space-between;
  padding-top: 1px;
  margin-bottom: 15px;
  /*outline: 2px solid fuchsia;*/
}


.footer-user-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 23px;
  /*outline: 2px solid blue;*/
}

.footer-ul {
  display: flex;
  margin: 0;
  padding: 0;
  padding-right: 40px;
  list-style: none;
  /*outline: 2px solid black;*/
}

.footer-ul li {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  /*outline: 2px dotted blue;*/
}

.footer-ul li:nth-of-type(1) {
  padding-left: 27px;
}

.footer-ul a {
  font-family:"OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: 0.15px;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.footer-ul a:hover {
  opacity: 0.6;
}

.footer-ul a:active {
  opacity: 0.3;
}


.footer-pl {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  /*outline: 2px solid orange;*/
  
}

.footer-pl li {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  /*outline: 1px dotted yellow;*/
}


.footer-pl a {
  font-family:"OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: 0.15px;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.footer-pl a:hover {
  opacity: 0.6;
}

.footer-pl a:active {
  opacity: 0.3;
}

.footer-nl {
  display: flex;
  list-style: none;
  /*outline: 2px solid yellow;*/
}

.footer-nl li:nth-of-type(1) {
  padding-left: 15px;
}
.footer-nl li:nth-of-type(2) {
  padding-left: 15px;
}
.footer-nl li:nth-of-type(3) {
  padding-left: 15px;
  padding-right: 15px;
}

.footer-nl a{
  font-family:"Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-nl a:hover {
  opacity: 0.6
}

.footer-nl a:active {
  opacity: 0.3
}

.adress {
  font-family:"OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  /*outline: 2px solid orange;*/
}

.contact-number {
  font-family:"OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
  /*outline: 2px solid gray;*/
}


.social-sites {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  margin-left: 479px;
  text-decoration: none;
  list-style: none;
  /*outline: 2px solid red;*/
}


.social-sites li:nth-of-type(1) {
  padding-left: 15px;
}
.social-sites li:nth-of-type(2) {
  padding-left: 15px;
}
.social-sites li:nth-of-type(3) {
  padding-left: 15px;
  padding-right: 15px;
}


.html-ac {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left:auto;
  text-decoration: none;
  list-style: none;
  /*outline: 2px solid red;*/
}
/*
.footer {

}
*/
.logo-footer {
  display: block;
  width: 163px;
  margin-top: 20px;
  /*outline: 2px solid red;*/
}

.logo-footer:hover {
  opacity: 0.6;
}

.logo-footer:active {
  opacity: 0.3;
}

.footer-index {
  padding-top: 45px;
  padding-bottom: 100px;
  background-color: #464646;
  /*outline: 2px solid fuchsia;*/
  
}



/* catalog.html */
/*
.header-catalog {
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 40px;
  padding-bottom: 166px;
  background-color: rgba(240, 197, 46, 0.5);
  outline: 2px solid fuchsia;
}
*/

.header-catalog {
  margin-top: 40px;
  padding-bottom: 166px;
  padding-left: 60px;
  padding-right: 60px;
  /*margin-bottom: ;*/
  background-color: rgba(240, 197, 46, 0.5);
  /*outline: 2px solid fuchsia;*/
}

.catalog-head {
  font-family:"Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.02;
  letter-spacing: 0.47px;
  text-align: left;
  color: #000000;
}

.super-container {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  /*outline: 2px dotted pink;*/
}

.container-lvl1 {
  width: 180px;
  /*outline: 2px dotted green;*/
}

.container-lvl2 {
  width: 800px;
  /*outline: 2px dotted purple;*/
}


.user-list-cat {
  display: flex;
  margin: 0;
  padding: 0;
  padding-right: 40px;
  list-style: none;
  outline: 2px solid black;
}

.user-list-cat li {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  color: rgba(0, 0, 0, 0.3);
  /*outline: 2px dotted blue;*/
}

.user-list-cat li:nth-of-type(1) a{
  padding-left: 27px;
  color: black;
}


.user-list-cat a {
  font-family:"OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: 0.15px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.user-list-cat a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.user-list-cat a:active {
  color: #000000;
}


.div-list {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  /*outline: 2px solid brown;*/

}



.list-nav {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.list-nav li {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  color: rgba(0, 0, 0, 0.3);
  /*outline: 2px dotted blue;*/
}

.list-nav li:nth-of-type(1) a{
  padding-left: 27px;
}

.list-nav a{
  font-family:"OpenSans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: 0.14px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.list-nav a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.list-nav a:active {
 color: #000000;
}


.filter {
  
}


.color-form {
  font-family:"Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.18px;
  text-align: left;
  color: #000000;
}

.color-list {
  list-style: none;
}

.color-list label{
  font-family:"OpenSans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.86;
  letter-spacing: 0.14px;
  text-align: left;
  color: #000000;
  text-decoration: none;
}

.checkbox-type {
  width: 27px;
  height: 23px;
  object-fit: contain;
}

.checkbox-type:hover {
  opacity: 0.6;
}

.checkbox-type:action {
  width: 1440px;
  height: 6228px;
  object-fit: contain;
}


.Bluetooth-form {
  font-family:"Gilroy", A"Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.18px;
  text-align: left;
  color: #000000;
}

.Bluetooth-list {
  list-style: none;
}

.Bluetooth-list label{
  font-family:"OpenSans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.86;
  letter-spacing: 0.14px;
  text-align: left;
  color: #000000;
  text-decoration: none;
}

.radio-type {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.radio-type:hover {
  object-fit: contain;
  opacity: 0.6;
}

.radio-type:action {
  width: 1440px;
  height: 6228px;
  object-fit: contain;
}

.submit-button {
  font-family:"Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3.6px;
  text-align: center;
  color: #000000;

}

/*пока пустой класс
.items-head {

}
 */

.sort-head {
  font-family:"Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 3.2px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}



.sort-func {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-around;
  list-style: none;
  /*outline: 2px solid red;*/
}

.sort-func li {
  padding: 0;
  margin: 0;
  padding-left: 20px;
}

.sort-func {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-around;
  /*outline: 2px solid red;*/
}

.sort-func li {
  padding: 0;
  margin: 0;
  padding-left: 20px;
}

.sort-func a {
  font-family:"OpenSans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.sort-func a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort-func a:action {
  font-family:"OpenSans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.items-description {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  width: 100%;
  /*justify-content: space-around;*/
  list-style: none;
}


.items-description a {
  font-family:"Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.18px;
  text-align: left;
  color: #000000;
  text-decoration: none;
}

.catalog-item {
  width: 361px;
  min-height: 285px;
  margin-bottom: 20px;
  margin-left: auto;
  /*outline: 2px dotted black;*/
}


/*
.item-text {
  display: flex;
  padding: 0;
  margin: 0;
  outline: 2px dotted green;
}
*/

.price-items{
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.16px;
  text-align: right;
  color: #464646;
}

.separator-h {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.separator-h a {
  padding-right: 15px;
}

.footer-inf-wrap {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  /*outline: 2px solid purple;*/
}

.footer-buttom {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  margin-top: 70px;
  list-style: none;
  /*outline: 2px solid green;*/
}

.footer-catalog {
  
  padding-bottom: 166px;
  /*margin-bottom: ;*/
  background-color: #464646;
  /*outline: 2px solid fuchsia;*/
  
}